
<h3> <span class="badge badge-dark">Liste Des Objets</span></h3>
<table class="table">
    <thead>
        <th>Nom</th>
        <th>Emplacement</th>
        <th>Status</th>
        <th>Connexion</th>
        <th>Action</th>
    </thead>
    <tbody>
        <tr  *ngFor="let objet of test" [ngClass]="{bgcolor: objet.status===true, bgcolor2: objet.status===false}">
            <td><a [routerLink]="[objet.id]">{{objet.nom}} </a></td>
            <td>{{objet.emplacement}}</td>
            <td><a href="#" *ngIf="objet.status===false" class="badge badge-danger">éteint</a>
                <a href="#" *ngIf="objet.status===true" class="badge badge-success">Allumé</a>
            </td>
            <td><a href="#" *ngIf="objet.estConnecte===false" class="badge badge-warning">Déconnecté</a>
                <a href="#" *ngIf="objet.estConnecte===true" class="badge badge-info">Conncté</a>
            </td>
            <td>
                <div class="row">
                    <div class="col-md-5">
                        <button (click)="allumer(objet.id)"  *ngIf="objet.status===false" type="button" class="btn btn-primary btn-sm">Allumer</button>
                        <button  (click)="eteindre(objet.id)" *ngIf="objet.status===true" type="button" class="btn btn-primary btn-sm">Eteindre</button>
                    </div>
                    <div class="col-md-5">
                        <button (click)="connecter(objet.id)" *ngIf="objet.estConnecte===false" type="button" class="btn btn-primary btn-sm">Connecter</button>
                        <button (click)="deconnecter(objet.id)" *ngIf="objet.estConnecte===true" type="button" class="btn btn-primary btn-sm">Déconnecter</button>
                    </div>
                </div>
            </td>
            
        </tr>
    </tbody>
</table>

