
    <div class="row"></div>
    <div class="row"> </div>
    <div class="row"> </div>
   <div class="row"></div> 
   <div class="card" style="width: 18rem;">
  <div class="card-header">
    Boite de Controle
  </div>
  <div>
        
                <button style="width: 100%;margin-block-start: 10px;"  class="btn btn-success" (click)="allumerTout()">Allumer Tout</button>
                <button  style="width: 100%;margin-block-start: 10px;" class="btn btn-danger" (click)="eteindreTout()">Eteintdre Tout</button>
                <button  style="width: 100%;margin-block-start: 10px;" class="btn btn-info" (click)="connecterTout()">Connecter Tout</button>
                <button  style="width: 100%;margin-block-start: 10px;" class="btn btn-warning" (click)="deconnecterTout()">Déconnecter Tout</button>
            
  </div>
</div>
<button   class="btn btn-link" (click)="add()">Ajouter Objet</button>
